
<aside class="m-3">
    <div class="card">
        <div class="card-body">
            <h2 class="h4 card-title">Forum statistik</h2>
            <dl>
                <dt>Antal forum:</dt>
                <dd>15</dd>
            </dl>
            <dl>
                <dt>Antal ämnen:</dt>
                <dd>1239</dd>
            </dl>
            <dl>
                <dt>Antal medlemmar:</dt>
                <dd>200</dd>
            </dl>
        </div>

    </div>

</aside>
@code {

}
