@using Webforum.Areas.Identity.Data.Entites
@inject Webforum.Gateways.DBGateway _DBGateway
@code {

}
<aside class="m-3">
    <div class="card">
        <div class="card-body">
            <h2 class="h4 card-title">Forum statistik</h2>
            <dl>
                <dt>Antal forum:</dt>
                <dd>@_DBGateway.SiteStatistics().AmountOfForums</dd>
            </dl>
            <dl>
                <dt>Antal ämnen:</dt>
                <dd>@_DBGateway.SiteStatistics().AmountOfCategories</dd>
            </dl>
            <dl>
                <dt>Antal medlemmar:</dt>
                <dd>@_DBGateway.SiteStatistics().AmountOfUsers</dd>
            </dl>
        </div>

    </div>

</aside>

